[class*="icon-"] {
	font-family: 'wink';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-cancel-circle:before {
	content: "\e601";
}
.icon-angle-left:before {
	content: "\e602";
}
.icon-angle-right:before {
	content: "\e603";
}
.icon-angle-up:before {
	content: "\e604";
}
.icon-angle-down:before {
	content: "\e605";
}
.icon-wink:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e607";
}
.icon-quote:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e609";
}
.icon-phone:before {
	content: "\e60a";
}
.icon-minus:before {
	content: "\e60b";
}
.icon-mail:before {
	content: "\e60c";
}
.icon-info:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e60e";
}
.icon-circle-plus:before {
	content: "\e60f";
}
.icon-circle-minus:before {
	content: "\e610";
}
.icon-airplane:before {
	content: "\e611";
}
.icon-basket:before {
	content: "\e612";
}
