.flexslider .slides img {
	width: auto;
	margin: auto;
}
.fancybox-close {
	background: url('assets/images/lightbox-close@2x.png') no-repeat;
	background-size: contain; 
}
.contact-form .message {
	width: 240px;
	float: left;
	position: relative !important;
	left: 0;
	top: 0;
}
.ajax-loader,
.wpcf7-not-valid-tip,
.wpcf7-response-output {
	display: none !important;
}

.wpcf7-not-valid {
  border: 1px solid #ed1c24 !important;
  background: #fff0f1 !important;
}
  .wpcf7-not-valid::-webkit-input-placeholder {
    color: #ed1c24; }

.wpcf7-not-valid:-moz-placeholder {
  color: #ed1c24; }

.wpcf7-not-valid::-moz-placeholder {
  color: #ed1c24; }

.wpcf7-not-valid:-ms-input-placeholder {
  color: #ed1c24; }