/*!
 *Theme Name: Wink WordPress Theme
 *Theme URI: http://www.domain.com
 *Description: A WordPress Theme for Wink.
 *Author: Drumbeat
 *Author URI: www.drumbeat.net.au
 *License: GNU General Public License v2.0
 *License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *Version: 1.0 */
@font-face {
  font-family: "museo500";
  src: url('assets/fonts/museo/MuseoSans_500-webfont.eot');
  src: url('assets/fonts/museo/MuseoSans_500-webfont.eot?#iefix') format('eot'), url('assets/fonts/museo/MuseoSans_500-webfont.ttf') format('truetype'), url('assets/fonts/museo/MuseoSans_500-webfont.svg') format('svg'), url('assets/fonts/museo/MuseoSans_500-webfont.woff') format('woff'); }

@font-face {
  font-family: "museo300";
  src: url('assets/fonts/museo/museo_300_regular-webfont.eot');
  src: url('assets/fonts/museo/museo_300_regular-webfont.eot?#iefix') format('eot'), url('assets/fonts/museo/museo_300_regular-webfont.ttf') format('truetype'), url('assets/fonts/museo/museo_300_regular-webfont.svg') format('svg'), url('assets/fonts/museo/museo_300_regular-webfont.woff') format('woff'); }

@font-face {
  font-family: "wink";
  src: url('assets/fonts/icons/icomoon.eot');
  src: url('assets/fonts/icons/icomoon.eot?#iefix') format('eot'), url('assets/fonts/icons/icomoon.ttf') format('truetype'), url('assets/fonts/icons/icomoon.svg') format('svg'), url('assets/fonts/icons/icomoon.woff') format('woff'); }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
 * HTML5 display definitions
 * ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/*
 * Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address styling not present in IE 8/9. */
[hidden] {
  display: none; }

/* ==========================================================================
 * Base
 * ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Remove default margin. */
body {
  margin: 0; }

/* ==========================================================================
 * Links
 * ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
 * Typography
 * ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
  font-weight: bold; }

/*
 * Address styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic; }

/*
 * Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * Address styling not present in IE 8/9. */
mark {
  background: yellow;
  color: black; }

/*
 * Correct font family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text in all browsers. */
pre {
  white-space: pre-wrap; }

/*
 * Set consistent quote types. */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
 * Embedded content
 * ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9. */
img {
  border: 0; }

/*
 * Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
 * Figures
 * ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5. */
figure {
  margin: 0; }

/* ==========================================================================
 * Forms
 * ========================================================================== */
/*
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
button,
input {
  line-height: normal; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera. */
button,
select {
  text-transform: none; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default; }

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9. */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers. */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
 * Tables
 * ========================================================================== */
/*
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before {
  content: "";
  display: table; }
.clearfix:after {
  clear: both;
  content: "";
  display: table; }

.group {
  *zoom: 1; }
  .group:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

/* Global Styles */
.styled-line {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid white;
  height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  clear: both; }
  .styled-line:after {
    content: "";
    display: table;
    clear: both; }

#top-head ul,
footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
#top-head li,
footer li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
  #top-head li:first-child, #top-head li.first,
  footer li:first-child,
  footer li.first {
    padding-left: 0; }
  #top-head li:last-child,
  footer li:last-child {
    padding-right: 0; }
  #top-head li.last,
  footer li.last {
    padding-right: 0; }
#top-head a,
footer a {
  color: #999999; }

.grid-layout {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1; }
  .grid-layout:after {
    content: "";
    display: table;
    clear: both; }
  .grid-layout .item {
    display: block;
    height: auto;
    height: 100%;
    float: left;
    margin-bottom: 30px; }
    @media (min-width: 0) {
      .grid-layout .item {
        width: 50%;
        margin-left: 0; } }
    @media (min-width: 37.5em) {
      .grid-layout .item {
        width: 33.3333%; } }
    @media (min-width: 50em) {
      .grid-layout .item {
        width: 18.77%;
        margin-left: 1.53846%; } }
    .grid-layout .item:nth-child(5n+1) {
      margin-left: 0; }
    @media (min-width: 0) {
      .grid-layout .item:nth-child(odd) {
        padding-right: 5px; } }
    @media (min-width: 37.5em) {
      .grid-layout .item:nth-child(odd) {
        padding-right: 0; } }
    @media (min-width: 0) {
      .grid-layout .item:nth-child(even) {
        padding-left: 5px; } }
    @media (min-width: 37.5em) {
      .grid-layout .item:nth-child(even) {
        padding-left: 0; } }
  .grid-layout img {
    width: 100%;
    border: 1px solid #ebebeb; }
  .grid-layout .head {
    *zoom: 1; }
    .grid-layout .head:after {
      content: "";
      display: table;
      clear: both; }
    .grid-layout .head .icon {
      float: right;
      position: relative;
      top: 15px;
      right: 2px; }
    .grid-layout .head .item-title {
      width: 90%;
      float: left;
      margin: 10px 0;
      text-transform: uppercase; }
      .grid-layout .head .item-title a {
        color: #2b2b2b; }

.item-buttons {
  width: 100%;
  *zoom: 1; }
  .item-buttons:after {
    content: "";
    display: table;
    clear: both; }
  .item-buttons .btn {
    text-align: center;
    width: auto;
    display: block;
    float: left;
    border: 1px solid #dfdfdf;
    color: #999999;
    background-color: white; }
    .item-buttons .btn:hover {
      background-color: #55aedf;
      color: white; }
    @media (min-width: 0) {
      .item-buttons .btn {
        padding: 15px 10px;
        font-size: 14px; } }
    @media (min-width: 50em) {
      .item-buttons .btn {
        padding: 5px 10px;
        font-size: 12px; } }
  .item-buttons .icon {
    padding-right: 5px; }
  .item-buttons .add-btn {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .item-buttons .comp-btn {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.breadcrumbs {
  font-family: "museo500";
  font-size: 10px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2b2b2b; }
  .breadcrumbs .home,
  .breadcrumbs .page {
    color: #999999; }
  .breadcrumbs a {
    color: #999999; }
    .breadcrumbs a:after {
      content: "/";
      padding: 0 5px 0 8px; }
  .breadcrumbs .current-item {
    color: #2b2b2b; }
    .breadcrumbs .current-item:after {
      content: ""; }

.single .breadcrumbs {
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf; }

.social-media-icons {
  margin-right: 20px;
  border-right: 1px solid #dfdfdf;
  background: white; }
  .social-media-icons ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  @media (min-width: 0) {
    .social-media-icons {
      width: 100%; }
      .social-media-icons li {
        width: 49.82%;
        border-right: 1px solid #dfdfdf;
        padding: 20px;
        height: auto;
        border-bottom: 1px solid #dfdfdf; }
      .social-media-icons .twitter,
      .social-media-icons .linkedin {
        border-right: 0; }
      .social-media-icons img {
        height: 31px;
        display: block;
        margin-left: auto;
        margin-right: auto; } }
  @media (min-width: 37.5em) {
    .social-media-icons li {
      width: 24.86%; }
    .social-media-icons .twitter {
      border-right: 1px solid #dfdfdf; } }
  @media (min-width: 50em) {
    .social-media-icons {
      width: 16%;
      margin-right: 20px;
      border-right: 1px solid #dfdfdf; }
      .social-media-icons li {
        width: auto;
        border: 0 !important;
        padding: 0 5px; }
        .social-media-icons li:first-child {
          margin-left: 0; }
      .social-media-icons img {
        height: 21px;
        width: auto;
        padding: 0 5px; } }

.single .head {
  *zoom: 1;
  margin-bottom: 20px; }
  .single .head:after {
    content: "";
    display: table;
    clear: both; }
  .single .head .model-name {
    font-family: "museo500";
    text-transform: uppercase;
    font-size: 10px;
    font-size: 1.25rem; }
    @media (min-width: 0) {
      .single .head .model-name {
        display: none; } }
    @media (min-width: 50em) {
      .single .head .model-name {
        display: block;
        float: left;
        margin: 0; } }
  @media (min-width: 0) {
    .single .head .item-buttons {
      float: none;
      width: 100%; }
      .single .head .item-buttons .btn {
        width: 33.33%; } }
  @media (min-width: 50em) {
    .single .head .item-buttons {
      float: right;
      width: 258px; }
      .single .head .item-buttons .btn {
        width: 86px; } }
  .single .head .item-buttons .share-btn {
    border-right: none;
    border-left: none; }

.page-title,
.post-title {
  margin-top: 0;
  font-size: 21px;
  font-weight: normal;
  text-transform: uppercase; }

/* Base */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
  background: url('assets/images/body-bg.png?1381470570') repeat 0 0;
  color: #2b2b2b;
  font-family: "museo300", Arial, serif;
  font-size: 6px;
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo500", Arial, serif;
  font-weight: normal;
  color: #2b2b2b; }

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #55aedf;
  cursor: pointer; }
  a:active, a:focus {
    outline: none; }

blockquote {
  font-style: italic;
  margin: 0; }

img {
  max-width: 100%; }

/* Layout */
.container {
  position: relative;
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  padding: 0; }

@media (min-width: 0) {
  .home .vegas-background {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; } }
@media (min-width: 50em) {
  .home .vegas-background {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; } }

/* Mobile/Desktop Menu Layout */
@media (min-width: 0) {
  #wrap {
    float: left;
    width: 100%; } }
@media (min-width: 50em) {
  #wrap {
    float: none; } }

#menu {
  position: relative; }
  @media (min-width: 0) {
    #menu {
      float: left;
      width: 80%;
      margin-left: -80%; } }
  @media (min-width: 50em) {
    #menu {
      float: none;
      width: 100%;
      margin-left: 0;
      background: none;
      box-shadow: none; } }

@media (min-width: 0) {
  body {
    width: 100%;
    max-width: 200%;
    overflow-x: hidden; } }

.page #content,
.single #content,
.archive #content {
  border-top: 1px solid #dfdfdf; }
  @media (min-width: 0) {
    .page #content,
    .single #content,
    .archive #content {
      background: white;
      padding: 20px 2.2%; } }
  @media (min-width: 50em) {
    .page #content,
    .single #content,
    .archive #content {
      background: none;
      padding: 30px 0 120px;
      padding-top: 30px;
      padding-bottom: 120px; } }

.home #content {
  padding: 0;
  background: none;
  border-top: 0; }

/* Logo */
#logo a {
  width: 140px;
  color: #2b2b2b;
  font-size: 20px;
  font-size: 2.5rem; }
  @media (min-width: 0) {
    #logo a {
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 50em) {
    #logo a {
      text-align: left;
      margin: 0; } }

/* Top Head */
#top-head {
  background: url('assets/images/body-bg.png?1381470570') repeat 0 0;
  height: 28px;
  padding-top: 8px;
  border-bottom: 1px solid #dfdfdf;
  font-family: "museo500"; }
  @media (min-width: 0) {
    #top-head {
      display: none; } }
  @media (min-width: 37.5em) {
    #top-head {
      display: none; } }
  @media (min-width: 50em) {
    #top-head {
      display: block; } }
  #top-head ul {
    padding-left: 17px; }
    #top-head ul li {
      padding: 0 16px;
      border-left: 1px solid #dfdfdf; }
      #top-head ul li:first-child {
        padding-left: 16px; }
      #top-head ul li a:hover {
        text-decoration: underline; }
  #top-head .contact-number {
    float: left;
    color: #999999; }
    #top-head .contact-number .icon-phone {
      margin-right: 6px; }

/* Light Box Cart */
#my-lightbox {
  font-family: "museo500";
  position: relative; }
  #my-lightbox a {
    color: #999999; }
  @media (min-width: 0) {
    #my-lightbox .label {
      display: none; }
    #my-lightbox span {
      margin-right: 5px; }
    #my-lightbox p {
      position: absolute;
      top: -55px;
      right: 10px;
      bottom: auto;
      left: auto; }
    #my-lightbox .icon-basket {
      font-size: 10px;
      font-size: 1.25rem;
      color: #2b2b2b; } }
  @media (min-width: 50em) {
    #my-lightbox span {
      margin-right: 5px; }
    #my-lightbox .label {
      display: inline; }
    #my-lightbox p {
      background-color: white;
      padding: 7px 10px;
      border-right: 1px solid #dfdfdf;
      border-left: 1px solid #dfdfdf;
      position: absolute;
      top: -131px;
      right: 0;
      bottom: auto;
      left: auto; }
    #my-lightbox .icon-basket {
      font-size: 7px;
      font-size: 0.875rem;
      color: #999999; } }

@media (min-width: 0) {
  .contact-number-view {
    display: block; } }
@media (min-width: 50em) {
  .contact-number-view {
    display: none; } }
.contact-number-view p {
  text-align: center;
  color: #999999;
  font-size: 9px;
  font-size: 1.125rem; }
.contact-number-view .icon {
  position: relative;
  top: 3px; }

/* Bottom Head */
#bottom-head {
  position: relative;
  background-color: white; }
  @media (min-width: 0) {
    #bottom-head {
      padding: 13px 0; } }
  @media (min-width: 50em) {
    #bottom-head {
      padding: 25px 0; } }

/* Mobile/Desktop Menu Details */
@media (min-width: 0) {
  #menu {
    height: 100%;
    background: #f6f6f6;
    -webkit-box-shadow: inset -3px 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -3px 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset -3px 0 5px rgba(0, 0, 0, 0.1); } }
@media (min-width: 50em) {
  #menu {
    background: white;
    width: 100%;
    max-width: 975px;
    margin: 0 auto;
    *zoom: 1;
    padding: 0; }
    #menu:after {
      content: "";
      display: table;
      clear: both; }
    #menu > div {
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #menu ul > li {
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
#menu a {
  font-family: "museo500";
  font-size: 16px; }
  #menu a:hover {
    color: #999999; }
@media (min-width: 0) {
  #menu ul {
    margin: 0;
    padding: 0 20px;
    list-style: none; } }
@media (min-width: 50em) {
  #menu ul {
    position: absolute;
    top: 67px;
    right: 0;
    bottom: auto;
    left: auto;
    z-index: 50;
    margin: 0;
    padding: 0; } }
#menu ul > li {
  position: relative; }
  @media (min-width: 50em) {
    #menu ul > li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px;
      padding-left: 18px;
      padding-right: 18px; }
      #menu ul > li:first-child, #menu ul > li.first {
        padding-left: 0; }
      #menu ul > li:last-child {
        padding-right: 0; }
      #menu ul > li.last {
        padding-right: 0; } }
  #menu ul > li > a {
    text-transform: uppercase;
    color: #2b2b2b; }
    @media (min-width: 0) {
      #menu ul > li > a {
        display: block;
        padding: 15px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid #dfdfdf; } }
    @media (min-width: 50em) {
      #menu ul > li > a {
        border: 0; } }
  @media (min-width: 50em) {
    #menu ul > li:hover ul {
      display: block;
      position: absolute;
      top: 46px;
      right: auto;
      bottom: auto;
      left: auto;
      border: 1px solid #e6e6e6;
      background-color: white;
      padding: 10px 15px;
      min-width: 175px; }
      #menu ul > li:hover ul:before {
        content: "";
        background: url('assets/images/menu-dropdown-arrow.png?1381909321') no-repeat;
        width: 26px;
        height: 10px;
        position: absolute;
        top: -10px;
        right: auto;
        bottom: auto;
        left: 10px; }
      #menu ul > li:hover ul li {
        float: none !important;
        display: block !important;
        padding: 0;
        border-bottom: 1px solid #dfdfdf; }
        #menu ul > li:hover ul li:last-child {
          border-bottom: 0; }
        #menu ul > li:hover ul li a {
          padding: 10px 0;
          text-transform: none;
          color: #2b2b2b; }
        #menu ul > li:hover ul li ul {
          display: none; }
        #menu ul > li:hover ul li:hover ul {
          position: absolute;
          top: 0;
          right: -170px;
          bottom: auto;
          left: auto;
          display: block; }
          #menu ul > li:hover ul li:hover ul:before {
            background: none; } }
  #menu ul > li:first-child a {
    border-top: 0; }
@media (min-width: 50em) {
  #menu ul .current-menu-item a,
  #menu ul .current-menu-ancestor a {
    border-bottom: 3px solid #2b2b2b; } }
@media (min-width: 0) {
  #menu ul ul {
    display: none; } }

.has-second-level-dropdown-menu {
  position: relative; }
  @media (min-width: 0) {
    .has-second-level-dropdown-menu:after {
      display: none; } }
  @media (min-width: 50em) {
    .has-second-level-dropdown-menu:after {
      display: block;
      position: absolute;
      right: 0;
      top: 12px;
      font-family: "wink";
      content: "\e603";
      color: #999999;
      font-size: 16px; } }

/* Mobile Menu */
@media (min-width: 0) {
  .mobile-menu-button {
    position: absolute;
    top: 25%;
    right: auto;
    bottom: auto;
    left: 18px;
    color: #2b2b2b;
    font-size: 15px;
    font-size: 1.875rem; } }
@media (min-width: 50em) {
  .mobile-menu-button {
    display: none; } }

@media (min-width: 0) {
  .has-dropdown-menu:after {
    position: absolute;
    top: 14px;
    right: 0;
    bottom: auto;
    left: auto;
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url('assets/images/mobile-master-sprite.png?1381483834') no-repeat -65px -73px; }
  .has-dropdown-menu ul li:last-child a {
    border-bottom: 0 !important; } }
@media (min-width: 0) and (min-width: 0) {
  .has-dropdown-menu ul li a {
    border-top: 0 !important;
    border-bottom: 1px dashed #dfdfdf !important;
    color: #999999 !important;
    text-transform: none !important; } }
@media (min-width: 0) and (min-width: 50em) {
  .has-dropdown-menu ul li a {
    color: #2b2b2b !important; } }
@media (min-width: 50em) {
  .has-dropdown-menu:after {
    display: none; }
  .has-dropdown-menu:hover a {
    border-bottom: 0 !important; }
    .has-dropdown-menu:hover a:hover {
      color: #999999 !important; }
  .has-dropdown-menu:hover ul {
    display: block; } }

@media (min-width: 0) {
  .active:after {
    background-position: -43px -73px; } }

/* Footer */
footer {
  *zoom: 1;
  width: 100%;
  background: white;
  border-top: 1px solid #dfdfdf;
  font-family: "museo500"; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 50em) {
    footer {
      position: fixed;
      bottom: 0; } }
  @media (min-width: 50em) {
    footer .container {
      padding-top: 20px; }
      footer .container div {
        float: left; }
      footer .container p {
        text-align: center;
        padding-bottom: 10px;
        color: #999999; }
      footer .container .colophon {
        float: right; }
        footer .container .colophon li {
          border-left: 1px solid #dfdfdf;
          padding: 0 10px; }
          footer .container .colophon li:first-child {
            border: 0; }
          footer .container .colophon li:last-child {
            padding-right: 0; }
          footer .container .colophon li a:hover {
            text-decoration: underline; }
      footer .container #social-media-icons {
        margin-right: 20px;
        border-right: 1px solid #dfdfdf; }
        footer .container #social-media-icons ul li {
          padding: 0 5px; } }
  footer p.heading {
    margin: 0; }
    @media (min-width: 0) {
      footer p.heading {
        display: none; } }
    @media (min-width: 37.5em) {
      footer p.heading {
        display: none; } }
    @media (min-width: 50em) {
      footer p.heading {
        display: block; } }
  footer #social-media-icons {
    background: white; }
    @media (min-width: 0) {
      footer #social-media-icons {
        width: 100%; }
        footer #social-media-icons li {
          width: 49.82%;
          border-right: 1px solid #dfdfdf;
          padding: 20px;
          height: auto;
          border-bottom: 1px solid #dfdfdf; }
        footer #social-media-icons .twitter,
        footer #social-media-icons .linkedin {
          border-right: 0; }
        footer #social-media-icons img {
          height: 31px;
          display: block;
          margin-left: auto;
          margin-right: auto; } }
    @media (min-width: 37.5em) {
      footer #social-media-icons li {
        width: 24.86%; }
      footer #social-media-icons .twitter {
        border-right: 1px solid #dfdfdf; } }
    @media (min-width: 50em) {
      footer #social-media-icons {
        width: 14%; }
        footer #social-media-icons li {
          width: auto;
          border: 0 !important;
          margin-left: 5px; }
          footer #social-media-icons li:first-child {
            margin-left: 0; }
          footer #social-media-icons li img {
            height: 21px;
            width: auto; } }
  @media (min-width: 0) {
    footer .contact-number {
      display: none; } }
  @media (min-width: 37.5em) {
    footer .contact-number {
      display: none; } }
  @media (min-width: 50em) {
    footer .contact-number {
      display: block;
      color: #999999; }
      footer .contact-number .number {
        font-size: 7px;
        font-size: 0.875rem; } }
  footer .copyright-text {
    margin: 0;
    color: #999999; }
  @media (min-width: 0) {
    footer .colophon {
      background: url('assets/images/body-bg.png?1381470570') repeat 0 0;
      padding: 20px 0 10px; }
      footer .colophon li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center; } }
  @media (min-width: 50em) {
    footer .colophon {
      background: none; }
      footer .colophon li {
        width: auto;
        text-align: left; } }

/* Accordion Home */
@media (min-width: 0) {
  #open-content-wrap {
    display: none; } }
@media (min-width: 50em) {
  #open-content-wrap {
    width: 100%;
    display: block;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.56);
    box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.56);
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-top: -20px;
    margin-bottom: 84px; } }
#open-content-wrap .icon {
  text-align: center;
  font-size: 10px;
  font-size: 1.25rem;
  color: #999999;
  font-weight: bold;
  line-height: 35px; }

.home-accordion {
  background: url('assets/images/body-bg.png?1381470570') repeat 0 0;
  width: 100%; }
  @media (min-width: 50em) {
    .home-accordion {
      position: fixed;
      bottom: 0px;
      border-bottom: 1px solid #dfdfdf; } }
  @media (min-width: 0) {
    .home-accordion #home-content-wrap {
      display: block; } }
  @media (min-width: 50em) {
    .home-accordion #home-content-wrap {
      display: none;
      height: 0; } }

/* Home Page */
#home-content-wrap {
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  *zoom: 1;
  padding: 0; }
  #home-content-wrap:after {
    content: "";
    display: table;
    clear: both; }
  #home-content-wrap > div {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #home-content-wrap ul > li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #home-content-wrap ul.model-category-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    #home-content-wrap ul.model-category-list li {
      position: relative;
      overflow: hidden;
      border: 1px solid #ebebeb; }
      @media (min-width: 0) {
        #home-content-wrap ul.model-category-list li {
          width: 50%;
          margin-left: 0; } }
      @media (min-width: 37.5em) {
        #home-content-wrap ul.model-category-list li {
          width: 33.3333%; } }
      @media (min-width: 50em) {
        #home-content-wrap ul.model-category-list li {
          width: 18.77%;
          margin-left: 1.53846%; } }
      #home-content-wrap ul.model-category-list li:first-child {
        margin-left: 0; }
      #home-content-wrap ul.model-category-list li img {
        width: 100%;
        margin-bottom: -3px; }
  #home-content-wrap .title-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: auto; }
    #home-content-wrap .title-container h3 {
      font-size: 8px;
      font-size: 1rem;
      line-height: 8px;
      line-height: 1rem;
      margin: 0;
      text-align: center;
      position: relative;
      top: 8px; }
      #home-content-wrap .title-container h3 a {
        color: #2b2b2b;
        text-transform: uppercase; }

#content-bottom {
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  *zoom: 1;
  padding: 0; }
  #content-bottom:after {
    content: "";
    display: table;
    clear: both; }
  #content-bottom > div {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #content-bottom ul > li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  @media (min-width: 0) {
    #content-bottom {
      border-top: 0;
      margin: 0; } }
  @media (min-width: 50em) {
    #content-bottom {
      margin: 20px 0 0 0;
      border-top: 1px solid #dfdfdf;
      height: 215px;
      overflow: hidden; } }
  #content-bottom h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase; }
  #content-bottom p {
    line-height: 16px; }
  @media (min-width: 50em) {
    #content-bottom > div {
      height: 215px; } }
  @media (min-width: 0) {
    #content-bottom .welcome-page-wrap {
      position: absolute;
      top: 49.9%;
      right: 0;
      bottom: auto;
      left: auto;
      width: 50%;
      padding: 10px;
      background: white;
      border-right: 0; } }
  @media (min-width: 50em) {
    #content-bottom .welcome-page-wrap {
      position: relative;
      top: 0;
      border-right: 1px solid #dfdfdf;
      padding: 20px;
      width: 100%;
      background: none; }
      #content-bottom .welcome-page-wrap a {
        text-transform: lowercase; }
        #content-bottom .welcome-page-wrap a:after {
          content: ">";
          padding-left: 7px; } }
  @media (min-width: 37.5em) {
    #content-bottom .welcome-page-wrap {
      padding: 20px; } }
  @media (min-width: 50em) {
    #content-bottom .welcome-page-wrap {
      padding: 20px 20px 20px 0;
      width: 50%; } }
  #content-bottom .case-studies-wrap {
    position: relative; }
    @media (min-width: 0) {
      #content-bottom .case-studies-wrap {
        display: block;
        width: 50%; }
        #content-bottom .case-studies-wrap h3 {
          position: absolute;
          top: auto;
          right: auto;
          bottom: -7px;
          left: auto;
          background: rgba(255, 255, 255, 0.9);
          width: 100%;
          font-size: 16px;
          text-align: center;
          color: #2b2b2b;
          text-transform: uppercase;
          padding: 5px 0; } }
    @media (min-width: 50em) {
      #content-bottom .case-studies-wrap {
        display: block;
        padding: 20px;
        width: 25%;
        border-right: 1px solid #dfdfdf; }
        #content-bottom .case-studies-wrap h3 {
          text-align: left;
          position: relative;
          bottom: 0;
          padding: 0;
          background: none; } }
    #content-bottom .case-studies-wrap ul li {
      overflow: hidden; }
      @media (min-width: 0) {
        #content-bottom .case-studies-wrap ul li {
          height: auto; } }
      @media (min-width: 50em) {
        #content-bottom .case-studies-wrap ul li {
          height: 115px; } }
  #content-bottom .testimonials-wrap {
    margin-right: 0;
    float: right; }
    @media (min-width: 0) {
      #content-bottom .testimonials-wrap {
        display: none; }
        #content-bottom .testimonials-wrap p {
          margin-top: 0;
          float: right;
          width: 92%; }
        #content-bottom .testimonials-wrap blockquote {
          line-height: 19px; } }
    @media (min-width: 50em) {
      #content-bottom .testimonials-wrap {
        position: relative;
        width: 25%;
        padding: 20px 0 20px 20px;
        display: block; } }

.testimonial-list {
  position: relative;
  min-height: 240px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  .testimonial-list li .icon-quote {
    position: relative;
    top: 15px;
    color: #999999; }

#home-testimonial-list li {
  position: absolute; }

#content {
  position: relative; }

.phone {
  background: url('assets/images/body-bg.png?1381470570') repeat 0 0; }

.case-studies-wrap ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }

.news .posts {
  margin-top: 25px; }
@media (min-width: 0) {
  .news .page-title {
    float: none; } }
@media (min-width: 50em) {
  .news .page-title {
    float: left; } }
.news .social-media-icons {
  background: none;
  border: none;
  margin: 0;
  width: 206px;
  position: relative;
  left: 10px; }
  .news .social-media-icons .heading {
    float: left;
    margin: 5px 0 0 0;
    color: #999999;
    font-family: "museo500";
    font-size: 14px; }
  .news .social-media-icons li {
    height: auto;
    border: 0;
    padding: 0;
    float: left;
    display: inline;
    margin-left: 5px; }
  @media (min-width: 0) {
    .news .social-media-icons {
      float: none; } }
  @media (min-width: 50em) {
    .news .social-media-icons {
      float: right; } }
.news .block {
  position: relative;
  float: left; }
  @media (min-width: 0) {
    .news .block {
      width: 50%; } }
  @media (min-width: 37.5em) {
    .news .block {
      width: 33.33%; } }
  @media (min-width: 50em) {
    .news .block {
      width: 20%;
      height: 195px; } }
  .news .block .icon {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px; }
  .news .block .icon-twitter {
    background: url('assets/images/twitter@2x.png?1382163103') no-repeat;
    background-size: 22px 21px;
    width: 22px;
    height: 21px; }
  .news .block .icon-instagram {
    background: url('assets/images/instagram-light@2x.png?1383445919') no-repeat;
    background-size: 21px 21px;
    width: 21px;
    height: 21px; }
.news .instagram-block,
.news .twitter-block {
  background: white;
  border: 1px solid #dfdfdf; }
.news .twitter-block {
  padding: 20px 35px 20px 15px;
  font-style: italic;
  color: #2b2b2b;
  font-family: "museo500";
  line-height: 16px; }

.wpcf7-form {
  *zoom: 1;
  background: white; }
  .wpcf7-form:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 0) {
    .wpcf7-form {
      margin-bottom: 30px; } }
  @media (min-width: 50em) {
    .wpcf7-form {
      margin-bottom: 0; } }
  .wpcf7-form h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #999999;
    margin: 0 0 10px 0; }

.wpcf7 .note,
.share .note {
  position: absolute;
  color: #999999;
  margin-top: -25px;
  right: 25px; }
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="file"],
.wpcf7 textarea,
.share input[type="text"],
.share input[type="email"],
.share input[type="file"],
.share textarea {
  width: 100%;
  padding: 8px;
  background: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dfdfdf; }
.wpcf7 textarea,
.share textarea {
  resize: vertical; }

.wpcf7-submit,
#btn_submit {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #55aedf;
  border: 1px solid #55aedf;
  font-family: "museo500";
  color: white; }
  @media (min-width: 0) {
    .wpcf7-submit,
    #btn_submit {
      float: none;
      width: 100%;
      padding: 12px;
      font-size: 24px; } }
  @media (min-width: 50em) {
    .wpcf7-submit,
    #btn_submit {
      float: right;
      width: 200px;
      font-size: 18px;
      padding: 7px 55px; } }

@media (min-width: 0) {
  #content .col-1 {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; } }
@media (min-width: 50em) {
  #content .col-1 {
    float: left;
    margin-right: 1%;
    margin-bottom: 0;
    width: 49%; } }
@media (min-width: 0) {
  #content .col-2 {
    float: none;
    width: 100%;
    margin-left: 0; } }
@media (min-width: 50em) {
  #content .col-2 {
    float: right;
    margin-left: 1%;
    width: 49%; } }

#wpcf7-f130-p134-o1 {
  border: 1px solid #dfdfdf;
  background: white;
  padding: 15px 20px 0; }
  #wpcf7-f130-p134-o1 .wpcf7-submit {
    margin-top: -25px; }

.contact-us {
  *zoom: 1;
  padding-bottom: 30px; }
  .contact-us:after {
    content: "";
    display: table;
    clear: both; }
  .contact-us h3 {
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 15px 0; }
  .contact-us address {
    clear: both;
    color: #999999;
    font-style: normal; }
  .contact-us section section {
    border: 1px solid #dfdfdf;
    background: white;
    padding: 15px;
    margin-bottom: 20px; }
  .contact-us .wpcf7 .note {
    position: relative;
    margin-top: 0;
    right: 0; }
  .contact-us .wpcf7-submit {
    margin-bottom: 10px; }
  .contact-us .our-location h4 {
    font-size: 14px;
    font-weight: bold;
    float: left; }
  .contact-us .our-location .phone-number {
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin: 20px 10px 0 -20px; }
  .contact-us .our-location .icon {
    padding-right: 5px; }
  .contact-us .join-wink {
    padding: 0;
    border: none;
    background: none; }
    .contact-us .join-wink .image-wrapper img {
      width: 100%; }
  .contact-us .personnel {
    *zoom: 1; }
    .contact-us .personnel:after {
      content: "";
      display: table;
      clear: both; }
    .contact-us .personnel .image-wrapper {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px; }
      .contact-us .personnel .image-wrapper img {
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
    .contact-us .personnel .personnel-info {
      padding-top: 10px; }
      .contact-us .personnel .personnel-info span {
        display: block;
        color: #999999; }
      .contact-us .personnel .personnel-info .name {
        font-weight: bold;
        color: #2b2b2b; }

.inputError {
  border: 1px solid #ed1c24 !important;
  background: #fff0f1 !important; }
  .inputError::-webkit-input-placeholder {
    color: #ed1c24; }

.inputError:-moz-placeholder {
  color: #ed1c24; }

.inputError::-moz-placeholder {
  color: #ed1c24; }

.inputError:-ms-input-placeholder {
  color: #ed1c24; }

.error {
  color: #ed1c24; }
  .error:before {
    font-family: "wink";
    content: "\e60d";
    padding-right: 5px;
    float: left;
    height: 40px; }
  @media (min-width: 0) {
    .error {
      font-size: 16px;
      position: relative;
      margin-bottom: 10px; } }
  @media (min-width: 50em) {
    .error {
      font-size: 12px;
      position: absolute;
      bottom: 5px;
      right: 230px;
      margin-bottom: 0; } }

.models .add-model {
  border-right: none; }
.models .item-buttons .btn {
  width: 50%; }

.inside .btn {
  width: 50%; }

.model-layout {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  .model-layout > li {
    position: relative;
    list-style: none;
    float: left; }
    @media (min-width: 0) {
      .model-layout > li {
        width: 50%;
        height: auto; } }
    @media (min-width: 37.5em) {
      .model-layout > li {
        width: 33%; } }
    @media (min-width: 50em) {
      .model-layout > li {
        width: 195px;
        height: 190px; }
        .model-layout > li img {
          height: 190px; } }
    .model-layout > li img {
      border: 1px solid #dfdfdf;
      width: 100%; }

.model-details {
  font-family: "museo500";
  margin: 0;
  list-style: none;
  background: white;
  border: 1px solid #dfdfdf;
  min-height: 190px; }
  @media (min-width: 0) {
    .model-details {
      padding: 10px; } }
  @media (min-width: 50em) {
    .model-details {
      padding: 20px; } }
  .model-details li {
    margin-bottom: 10px; }
  .model-details .label {
    font-weight: bold;
    display: block;
    float: left; }
  .model-details .value {
    color: #999999;
    text-align: right;
    margin: 0; }
  @media (min-width: 0) {
    .model-details {
      font-size: 15px; } }
  @media (min-width: 50em) {
    .model-details {
      font-size: 12px; } }

.has-content,
.has-title {
  background: white;
  min-height: 190px;
  padding: 20px;
  font-family: "museo500"; }

.has-title {
  text-transform: uppercase;
  position: relative; }
  .has-title .cs-title {
    position: absolute;
    bottom: 0; }

.share {
  position: relative;
  display: none;
  background: white;
  padding: 0 15px 10px;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf; }
  .share:before {
    position: absolute;
    z-index: 10;
    top: -12px;
    right: 120px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 14px 12px 14px;
    border-color: transparent transparent white transparent; }
  .share:after {
    position: absolute;
    z-index: 5;
    top: -13px;
    right: 119px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 13px 15px;
    border-color: transparent transparent #dfdfdf transparent; }
  .share h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px 0; }
  .share input,
  .share textarea {
    margin-bottom: 10px; }
    @media (min-width: 0) {
      .share input,
      .share textarea {
        font-size: 16px; } }
    @media (min-width: 50em) {
      .share input,
      .share textarea {
        font-size: 14px; } }
  .share textarea {
    min-height: 166px; }

.share-btn.active {
  background-color: #55aedf;
  color: white; }

#lightbox_gallery {
  display: none;
  position: absolute;
  top: 0; }

.btn-light {
  border: 1px solid #dfdfdf;
  background: white;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #999999;
  font-family: "museo500"; }
  .btn-light .icon {
    padding-right: 5px;
    position: relative;
    top: 2px; }

.why-wink .section-header {
  background: url('assets/images/double-border.png?1383045350') repeat-x center center;
  line-height: 30px;
  margin: 30px 0; }
  .why-wink .section-header .section-header-title {
    background: url('assets/images/body-bg.png?1381470570') repeat;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px; }
.why-wink .our-services {
  color: #999999;
  line-height: 18px; }
.why-wink .our-clients .client-logo-wrapper {
  background: white;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 0 19px 15px 0;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  float: left;
  text-align: center; }
  .why-wink .our-clients .client-logo-wrapper img {
    height: auto;
    vertical-align: middle; }
.why-wink .testimonials .testimonial-wrapper {
  *zoom: 1; }
  .why-wink .testimonials .testimonial-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 0) {
    .why-wink .testimonials .testimonial-wrapper {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px; } }
  @media (min-width: 37.5em) {
    .why-wink .testimonials .testimonial-wrapper {
      width: 50%; } }
  @media (min-width: 50em) {
    .why-wink .testimonials .testimonial-wrapper {
      float: left;
      width: 30%;
      margin-right: 3.33%; } }
  .why-wink .testimonials .testimonial-wrapper .icon {
    float: left;
    color: #999999; }
  .why-wink .testimonials .testimonial-wrapper .block {
    margin-top: -13px;
    width: 93%;
    float: right; }
.why-wink .btn-light {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 284px;
  font-size: 14px; }
.why-wink .grid-layout li h3 {
  text-transform: uppercase; }
  .why-wink .grid-layout li h3 a {
    color: #2b2b2b; }

.my-light-box .head {
  *zoom: 1; }
  .my-light-box .head:after {
    content: "";
    display: table;
    clear: both; }
@media (min-width: 0) {
  .my-light-box .post-title {
    float: none; } }
@media (min-width: 50em) {
  .my-light-box .post-title {
    float: left;
    width: 50%; } }
.my-light-box .item-buttons.top {
  width: 100%; }
  @media (min-width: 0) {
    .my-light-box .item-buttons.top {
      float: none;
      margin-bottom: 20px; }
      .my-light-box .item-buttons.top .comp-btn {
        display: none; } }
  @media (min-width: 50em) {
    .my-light-box .item-buttons.top {
      width: auto;
      float: right; }
      .my-light-box .item-buttons.top .comp-btn {
        display: block; } }
  @media (min-width: 0) {
    .my-light-box .item-buttons.top .share-btn {
      width: 100%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border-right: 1px solid #dfdfdf;
      font-size: 18px; } }
  @media (min-width: 50em) {
    .my-light-box .item-buttons.top .share-btn {
      border-right: none;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-topright: 0;
      -webkit-border-top-right-radius: 0;
      border-top-right-radius: 0;
      -moz-border-radius-bottomright: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 72px;
      font-size: 12px; } }
@media (min-width: 0) {
  .my-light-box .item-buttons .remove-model {
    border-right: none; }
  .my-light-box .item-buttons .icon-cancel-circle {
    visibility: hidden; } }
@media (min-width: 50em) {
  .my-light-box .item-buttons .icon {
    visibility: visible; } }

.woo-sc-box.normal {
  background: white !important;
  border-color: #dfdfdf !important;
  padding: 20px !important;
  line-height: 18px; }

p.woo-sc-box,
div.woo-sc-box {
  border-width: 1px !important; }

#lightbox_gallery {
  position: relative; }

@media (min-width: 0) {
  #carousel {
    display: none; } }
@media (min-width: 50em) {
  #carousel {
    display: block; } }
#carousel .slides {
  margin: 20px; }
  #carousel .slides > li {
    margin-right: 20px; }
    #carousel .slides > li img {
      cursor: pointer;
      border: 1px solid #dfdfdf; }

.flexslider {
  margin: 0 !important;
  background: none !important;
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0; }

.slides img {
  width: auto !important;
  margin: 0 auto;
  text-align: center; }

.shortcode-toggle {
  margin: 0 0 1em !important; }
  .shortcode-toggle h4 {
    background: white;
    font-size: 18px;
    position: relative; }
    .shortcode-toggle h4 a {
      color: #999999;
      background: none !important;
      padding: 15px 20px !important; }
      .shortcode-toggle h4 a:after {
        font-weight: bold;
        font-size: 22px;
        position: absolute;
        right: 20px;
        font-family: "wink";
        content: "\e604"; }
  .shortcode-toggle .toggle-content {
    background: white !important;
    color: #999999;
    line-height: 18px;
    padding: 10px 20px !important; }

.closed h4 a:after {
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  right: 20px;
  font-family: "wink";
  content: "\e605"; }

.shortcode-highlight {
  color: #999999;
  background: none !important;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  font-family: "museo500"; }
