/* Base */
*
  +box-sizing(border-box)
  &:before
    +box-sizing(border-box)
  &:after
    +box-sizing(border-box)

body 
  background: image-url("body-bg.png") repeat 0 0
  color: $global-color-text
  font-family: $museo-300, Arial, serif
  +font-size(6)

h1, h2, h3, h4, h5, h6 
  font-family: $museo-500, Arial, serif
  font-weight: normal
  color: $color-black

a
  +unstyled-link()
  color: $global-color-link
  cursor: pointer

blockquote
  font-style: italic
  margin: 0

img 
  max-width: 100%