// Contact Form 7 Global
.wpcf7-form
	+pie-clearfix
	background: #FFF
	
	+breakpoint(small)
		margin-bottom: 30px
	+breakpoint(large)
		margin-bottom: 0

	h3
		font-size: 18px
		text-transform: uppercase
		color: $color-grey
		margin: 0 0 10px 0

.wpcf7,
.share 
	.note
		position: absolute
		color: $color-grey
		margin-top: -25px
		right: 25px
	
	input[type="text"],
	input[type="email"],
	input[type="file"],
	textarea 
		width: 100%
		padding: 8px
		background: #fafafa
		+border-radius(3px)
		border: 1px solid $global-color-border
	 
	textarea
		resize: vertical

.wpcf7-submit,
#btn_submit
	+border-radius(3px)
	background: $global-color-link
	border: 1px solid $global-color-link
	font-family: $museo-500
	color: #FFF
	+breakpoint(small)
		float: none
		width: 100%
		padding: 12px
		font-size: 24px
	+breakpoint(large)
		float: right
		width: 200px
		font-size: 18px
		padding: 7px 55px

#content 
	.col-1 
		+breakpoint(small)
			float: none
			width: 100%
			margin-right: 0
			margin-bottom: 20px
		+breakpoint(large)
			float: left
			margin-right: 1%
			margin-bottom: 0
			width: 49%

	.col-2 
		+breakpoint(small)
			float: none
			width: 100%
			margin-left: 0
		+breakpoint(large)
			float: right
			margin-left: 1%
			width: 49%

// Join Us Form
#wpcf7-f130-p134-o1 // change this to the id
	border: 1px solid $global-color-border
	background: #FFF
	padding: 15px 20px 0

	.wpcf7-submit
		margin-top: -25px

// Contact Us page Form
.contact-us
	+pie-clearfix
	padding-bottom: 30px

	h3
		color: $color-grey
		font-size: 16px
		text-transform: uppercase
		margin: 0 0 15px 0
	
	address
		clear: both
		color: $color-grey
		font-style: normal

	section 
		section 
			border: 1px solid $global-color-border
			background: #fff
			padding: 15px
			margin-bottom: 20px

	.wpcf7 
		.note 
			position: relative
			margin-top: 0
			right: 0

	.wpcf7-submit
		margin-bottom: 10px

	// location widget
	.our-location
		h4
			font-size: 14px
			font-weight: bold
			float: left
		.phone-number
			font-size: 14px
			font-weight: bold
			float: right
			margin: 20px 10px 0 -20px
		.icon
			padding-right: 5px
	
	// join wink widget
	.join-wink
		padding: 0
		border: none
		background: none
		.image-wrapper
			img
				width: 100%
				
	// people widget
	.personnel
		+pie-clearfix
		.image-wrapper
			float: left
			margin-right: 15px
			margin-bottom: 15px
			img
				width: 80px
				height: 80px
				+border-radius(50%)
		.personnel-info
			padding-top: 10px
			span 
				display: block
				color: $color-grey
			.name
				font-weight: bold
				color: $color-black

// Error handling
.inputError
	border: 1px solid #ed1c24!important
	background: #fff0f1!important
	&::-webkit-input-placeholder
		color: #ed1c24
.inputError
	&:-moz-placeholder
		color: #ed1c24
.inputError
	&::-moz-placeholder
		color: #ed1c24
.inputError
	&:-ms-input-placeholder
		color: #ed1c24

.error
	color: #ed1c24
	&:before
		font-family: "wink"
		content: "\e60d"
		padding-right: 5px
		float: left
		height: 40px

	+breakpoint(small)
		font-size: 16px
		position: relative
		margin-bottom: 10px
	+breakpoint(large)
		font-size: 12px
		position: absolute
		bottom: 5px
		right: 230px
		margin-bottom: 0