/* Footer */
footer
  +pie-clearfix
  //display: none
  width: 100%
  background: $color-white
  border-top: 1px solid $global-color-border
  font-family: $museo-500  
  
  +breakpoint(large)
    position: fixed
    bottom: 0
  
  .container
    +breakpoint(large)
      padding-top: 20px

      div 
        float: left
      p 
        text-align: center
        padding-bottom: 10px
        color: $color-grey

      .colophon
        float: right
        li 
          border-left: 1px solid $global-color-border
          padding: 0 10px 

          &:first-child
            border: 0
          &:last-child
            padding-right: 0

          a
            &:hover
              text-decoration: underline
      
      #social-media-icons
        margin-right: 20px
        border-right: 1px solid $global-color-border
        ul
          li 
            padding: 0 5px

  p.heading
    margin: 0
    +breakpoint(small) 
      display: none
    +breakpoint(medium) 
      display: none
    +breakpoint(large) 
      display: block
  
  #social-media-icons
    background: $color-white

    +breakpoint(small) 
      width: 100%
      li
        width: 49.82%
        border-right: 1px solid $global-color-border
        padding: 20px
        height: auto
        border-bottom: 1px solid $global-color-border
      
      .twitter,
      .linkedin
        border-right: 0

      img
        height: 31px
        +center-block
    
    +breakpoint(medium) 
      li
        width: 24.86%

      .twitter,
        border-right: 1px solid $global-color-border

    +breakpoint(large) 
      width: 14%

      li 
        width: auto
        border: 0!important
        margin-left: 5px
        &:first-child
          margin-left: 0
        img
          height: 21px
          width: auto       

  .contact-number
    +breakpoint(small) 
      display: none
    +breakpoint(medium)
      display: none
    +breakpoint(large)
      display: block
      color: $color-grey
      .number
        +font-size(7)


  .copyright-text
    margin: 0
    color: $color-grey    

  .colophon     
    +breakpoint(small) 
      background: image-url("body-bg.png") repeat 0 0
      padding: 20px 0 10px
      li
        width: 100%
        margin-bottom: 10px
        text-align: center
    +breakpoint(large)
      background: none
      li
        width: auto
        text-align: left