// row mixin includes clearfix hack, last-child margin fix and any global row styles
=row 
  width: 100%
  max-width: $width-container
  margin: 0 auto
  +pie-clearfix()
  +nesting

// target nested elements with grid styles. use in global styles as well as row mixin
=nesting 
  padding: 0 // remove padding from parent container so floated columns can fill it

  & > div // target only child elements of the container. add elements other than div as needed
    float: left
    +box-sizing(border-box)

  ul > li
    float: left
    +box-sizing(border-box)

// remove margin-right from last element in a row or container so all columns fit
=last 
  margin-right: 0
  float: right // fixes poor alignment with right edge caused by percentage calculations