/* Global Styles */
.styled-line
	border-top: 1px solid $global-color-border
	border-bottom: 1px solid white
	height: 1px
	+box-sizing(border-box)
	+pie-clearfix
	clear: both

#top-head,
footer
	ul 
		+horizontal-list-container()
	li 
		+horizontal-list-item()
	a
		color: $color-grey

.grid-layout
	width: 100%
	margin: 0
	padding: 0
	list-style: none
	+pie-clearfix

	.item
		display: block
		height: auto
		height: 100%
		float: left
		margin-bottom: 30px
		+breakpoint(small) 
			width: 50%
			//height: 277px
			margin-left: 0
		+breakpoint(medium) 
			width: 33.3333%	
			//height: 335px
		+breakpoint(large) 
			//width: 18.461538462%
			//height: 280px
			width: 18.77%
			margin-left: 1.538461538%
		&:nth-child(5n+1)
			margin-left: 0

		&:nth-child(odd)
			+breakpoint(small)
				padding-right: 5px
			+breakpoint(medium)
				padding-right: 0
		&:nth-child(even)
			+breakpoint(small)
				padding-left: 5px
			+breakpoint(medium)
				padding-left: 0

	img
		width: 100%
		border: 1px solid $color-border-image
	
	.head
		+pie-clearfix
		.icon
			float: right
			position: relative
			top: 15px
			right: 2px
		.item-title
			width: 90%
			float: left
			margin: 10px 0
			text-transform: uppercase
			a
				color: $global-color-text

// Buttons
.item-buttons
	width: 100%
	+pie-clearfix
	.btn
		text-align: center
		width: auto
		display: block
		float: left
		border: 1px solid $global-color-border
		color: $color-grey
		background-color: white
		&:hover
			background-color: $global-color-link
			color: white

		+breakpoint(small)
			padding: 15px 10px
			font-size: 14px
		+breakpoint(large)
			padding: 5px 10px
			font-size: 12px

	.icon
		padding-right: 5px
	.add-btn
		+border-top-left-radius(5px)
		+border-bottom-left-radius(5px)
	.comp-btn
		+border-top-right-radius(5px)
		+border-bottom-right-radius(5px)

// Breadcrumbs
.breadcrumbs
	font-family: $museo-500
	+font-size(10)
	text-transform: uppercase
	margin-bottom: 20px
	color: $color-black
	.home,
	.page,
		color: $color-grey

	a
		color: $color-grey
		&:after
			content: "/"
			padding: 0 5px 0 8px

	.current-item
		color: $global-color-text
		&:after
			content: ""

.single
	.breadcrumbs
		padding-bottom: 20px
		border-bottom: 1px solid $global-color-border

// Social Icons
.social-media-icons
	margin-right: 20px
	border-right: 1px solid $global-color-border        
	background: $color-white
	ul
		margin: 0
		padding: 0
		list-style: none

	+breakpoint(small) 
		width: 100%

		li
			width: 49.82%
			border-right: 1px solid $global-color-border
			padding: 20px
			height: auto
			border-bottom: 1px solid $global-color-border

		.twitter,
		.linkedin
			border-right: 0

		img
			height: 31px
			+center-block

	+breakpoint(medium) 
		li
			width: 24.86%

		.twitter,
			border-right: 1px solid $global-color-border

	+breakpoint(large) 
		width: 16%
		margin-right: 20px
		border-right: 1px solid $global-color-border

		li 
			width: auto
			border: 0!important
			padding: 0 5px
			&:first-child
				margin-left: 0
		img
			height: 21px
			width: auto
			padding: 0 5px

// Single Model
.single
	.head
		+pie-clearfix
		margin-bottom: 20px
		.model-name			
			font-family: $museo-500
			text-transform: uppercase
			+font-size(10)
			+breakpoint(small)
				display: none
			+breakpoint(large)
				display: block
				float: left
				margin: 0
		.item-buttons
			+breakpoint(small)
				float: none
				width: 100%
				.btn
					width: 33.33%
			+breakpoint(large)
				float: right
				width: 258px
				.btn
					width: 86px
			.share-btn
				border-right: none
				border-left: none

// Pages
.page-title,
.post-title
	margin-top: 0
	font-size: 21px
	font-weight: normal
	text-transform: uppercase

			