@function columns($columns, $container-columns: $columns-max) 
  $width: $columns * $width-column + ($columns - 1) * $width-gutter
  $container-width: $container-columns * $width-column + ($container-columns - 1) * $width-gutter
  @return percentage($width / $container-width)

@function gutter($container-columns: $columns-max, $gutter: $width-gutter) 
  $container-width: $container-columns * $width-column + ($container-columns - 1) * $width-gutter
  @return percentage($gutter / $container-width)

// row mixin includes clearfix hack, last-child margin fix and any global row styles
=row 
  width: 100%
  max-width: $width-container
  margin: 0 auto
  +pie-clearfix()
  +nesting

// target nested elements with grid styles. use in global styles as well as row mixin
=nesting 
  padding: 0 // remove padding from parent container so floated columns can fill it

  & > div // target only child elements of the container. add elements other than div as needed
    float: left
    margin-right: gutter()
    +box-sizing(border-box)

  ul > li
    float: left
    margin-right: gutter()
    +box-sizing(border-box)

// calculate offset amounts for offset columns
@function offset-columns($columns) 
  $margin: $columns * $width-column + $columns * $width-gutter
  @return $margin

=offset($from-direction, $columns)
  @if $from-direction == left 
    float: left
    margin-left: offset-columns($columns)
  
  @if $from-direction == right 
    float: right
    margin-right: offset-columns($columns)

// remove margin-right from last element in a row or container so all columns fit
=last 
  margin-right: 0
  float: right // fixes poor alignment with right edge caused by percentage calculations