/* Logo */
#logo
  a
    width: 140px
    color: $color-black
    +font-size(20)

    +breakpoint(small)
      +center-block
    +breakpoint(large)
      text-align: left
      margin: 0

/* Top Head */
#top-head
  background: image-url("body-bg.png") repeat 0 0
  height: 28px
  padding-top: 8px
  border-bottom: 1px solid $global-color-border
  font-family: $museo-500

  +breakpoint(small)
    display: none
  +breakpoint(medium) 
    display: none
  +breakpoint(large)
    display: block
  
  ul
    padding-left: 17px
    li 
      padding: 0 16px
      border-left: 1px solid $global-color-border

      &:first-child
        padding-left: 16px
      a
        &:hover
          text-decoration: underline

  .contact-number
    float: left
    color: $color-grey

    .icon-phone
      margin-right: 6px

/* Light Box Cart */
#my-lightbox
  font-family: $museo-500
  position: relative
  //display: none
  a
    color: $color-grey

  +breakpoint(small)
    .label
      display: none
    span
      margin-right: 5px
    p 
      +absolute-pos(-55px,10px,auto,auto)
    .icon-basket
      +font-size(10)
      color: $color-black

  +breakpoint(large)
    span
      margin-right: 5px
    .label
      display: inline
    p
      background-color: $color-white
      padding: 7px 10px
      border-right: 1px solid $global-color-border
      border-left: 1px solid $global-color-border
      +absolute-pos(-131px,0,auto,auto)
    .icon-basket
      +font-size(7)
      color: $color-grey

// Contact Number Mobile View
.contact-number-view
  +breakpoint(small)
    display: block
  +breakpoint(large)
    display: none

  p 
    text-align: center
    color: $color-grey
    +font-size(9)

  .icon
    position: relative
    top: 3px

/* Bottom Head */
#bottom-head
  position: relative
  background-color: $color-white
  +breakpoint(small)
    padding: 13px 0
  +breakpoint(large)
    padding: 25px 0