/* Accordion Home */
#open-content-wrap
  +breakpoint(small)
    display: none
  +breakpoint(large)
    width: 100%
    display: block
    background-color: $color-white
    +box-shadow(0px 0px 3px rgba(50, 50, 50, 0.56))
    height: 35px
    cursor: pointer
    position: relative
    margin-top: -20px
    margin-bottom: 84px // Height of footer
  
  .icon
    text-align: center
    +font-size(10)
    color: $color-grey
    font-weight: bold
    line-height: 35px

.home-accordion 
  background: image-url("body-bg.png") repeat 0 0
  //position: fixed
  width: 100%
  +breakpoint(large)
    position: fixed
    bottom: 0px
    border-bottom: 1px solid $global-color-border

  #home-content-wrap
    +breakpoint(small)
      display: block
    +breakpoint(large)
      display: none
      //+absolute-pos(auto,auto,0,auto)
      height: 0

/* Home Page */
#home-content-wrap
  +row

  ul.model-category-list
    margin: 0
    padding: 0
    list-style: none

    li      
      position: relative
      overflow: hidden
      border: 1px solid $color-border-image

      +breakpoint(small) 
        width: 50%
        margin-left: 0
      +breakpoint(medium) 
        width: 33.3333%
      +breakpoint(large) 
        //width: 18.461538462%
        width: 18.77%
        margin-left: 1.538461538%

      &:first-child
        margin-left: 0

      img
        width: 100%
        margin-bottom: -3px
  
  .title-container
    width: 100%
    background-color: rgba( $color-white, .9 )
    +absolute-pos(auto, auto, 0, auto)

    h3
      +font-size(8)
      +line-height(8)
      margin: 0
      text-align: center
      position: relative
      top: 8px

      a
        color: $color-black
        text-transform: uppercase

#content-bottom
  +row
  +breakpoint(small)
    border-top: 0
    margin: 0
  +breakpoint(large)
    margin: 20px 0 0 0
    border-top: 1px solid $global-color-border
    height: 215px
    overflow: hidden

  h3 
    margin: 0 0 10px 0
    text-transform: uppercase
  p
    line-height: 16px 
  
  > div
    +breakpoint(large)
      height: 215px

  .welcome-page-wrap
    +breakpoint(small) 
      +absolute-pos(49.9%,0,auto,auto)
      width: 50%
      padding: 10px
      background: #FFF
      border-right: 0
    +breakpoint(large)
      position: relative
      top: 0
      border-right: 1px solid $global-color-border
      padding: 20px
      width: 100%
      background: none

      a
        text-transform: lowercase
        &:after
          content: '>'
          padding-left: 7px
    
    +breakpoint(medium)
      padding: 20px
    +breakpoint(large)
      padding: 20px 20px 20px 0 
      width: 50%

  .case-studies-wrap
    position: relative
    +breakpoint(small)  
      display: block
      width: 50%
      h3
        +absolute-pos(auto,auto,-7px,auto)
        background: rgba(255, 255, 255, 0.9)
        width: 100%
        font-size: 16px
        text-align: center
        color: #2b2b2b
        text-transform: uppercase
        padding: 5px 0
    +breakpoint(large) 
      display: block
      padding: 20px
      width: 25%
      border-right: 1px solid $global-color-border
      h3
        text-align: left
        position: relative
        bottom: 0
        padding: 0
        background: none
      
    ul
      li
        overflow: hidden
        +breakpoint(small)  
          height: auto
        +breakpoint(large)
          height: 115px

  .testimonials-wrap
    +breakpoint(small) 
      display: none

      p 
        margin-top: 0
        float: right
        width: 92%
      blockquote
        line-height: 19px 

    +breakpoint(large) 
      position: relative
      width: 25%
      padding: 20px 0 20px 20px
      display: block
    +last

.testimonial-list
  position: relative
  min-height: 240px
  +horizontal-list-container 
  li   
    .icon-quote
      position: relative
      top: 15px
      color: $color-grey

#home-testimonial-list
  li
    position: absolute
// -- END homepage

#content
  position: relative
.phone
  background: image-url("body-bg.png") repeat 0 0


// Home widgets
.case-studies-wrap
  ul
    +horizontal-list-container