.icon
	+inline-block()	
	+breakpoint(small) 
		background: image-url("mobile-master-sprite.png") no-repeat

	+breakpoint(large)
		background: image-url("master-sprite.png") no-repeat

.icon-phone
	+breakpoint(small) 
		background-position: -149px -4px
		width: 16px
		height: 15px

	+breakpoint(large)
		background-position: -140px 0
		width: 15px
		height: 14px

.icon-basket
	+breakpoint(small)
		background-position: -127px -1px 
		width: 20px
		height: 18px 
		
	+breakpoint(large)
		background-position: -158px 0
		width: 16px
		height: 15px

.icon-facebook
	+breakpoint(small) 
		background-position: 0 -32px
		width: 15px
		height: 31px

	+breakpoint(large)
		background-position: -318px 0
		width: 9px
		height: 21px

.icon-twitter
	+breakpoint(small) 
		background-position: -23px -34px
		width: 32px
		height: 27px

	+breakpoint(large)
		background-position: -330px 0
		width: 22px
		height: 20px

.icon-instagram
	+breakpoint(small) 
		background-position: -61px -32px
		width: 31px
		height: 31px

	+breakpoint(large)
		background-position: -353px 0
		width: 22px
		height: 21px

.icon-linkedin
	+breakpoint(small) 
		background-position: -95px -32px
		width: 29px
		height: 31px

	+breakpoint(large)
		background-position: -377px 0
		width: 20px
		height: 21px

.icon-toggle
	+breakpoint(large)
		background-position: -294px 0
		width: 20px
		height: 19px
		+center-block()
		line-height: 35px
		position: relative
		top: 8px

.icon-quote
	+breakpoint(large)
		float: left
		margin-top: 3px
		background-position: -279px 0
		width: 10px
		height: 10px