/* Layout */
.container
  position: relative
  width: 100%
  max-width: $width-container
  margin: 0 auto
  padding: 0

.home
  .vegas-background
    +breakpoint(small)
      +visuallyhidden
    +breakpoint(large)
      +displayvisual

/* Mobile/Desktop Menu Layout */
#wrap 
  +breakpoint(small)
    float: left
    width: 100%
  +breakpoint(large)
    float: none

#menu
  position: relative
  +breakpoint(small)
    float: left
    width: 80%
    margin-left: -80%
  +breakpoint(large)
    float: none
    width: 100%
    margin-left: 0
    background: none
    box-shadow: none

body
  +breakpoint(small)
    width: 100%
    max-width: 200%
    overflow-x: hidden

// Page Layout
.page,
.single,
.archive
  #content
    border-top: 1px solid $global-color-border
    +breakpoint(small)
      background: #FFF
      padding: 20px 2.2%
    +breakpoint(large)
      background: none
      padding: 30px 0 120px
      padding-top: 30px
      padding-bottom: 120px

.home
  #content
    padding: 0
    background: none
    border-top: 0