/* Mobile/Desktop Menu Details */
#menu
  +breakpoint(small)
    height: 100%
    background: #f6f6f6
    +box-shadow(inset -3px 0 5px rgba(0,0,0,.1))
  +breakpoint(large)
    background: $color-white
    +row
  a 
    font-family: $museo-500
    font-size: 16px
    &:hover
      color: $color-grey
  
  ul 
    +breakpoint(small)
      margin: 0
      padding: 0 20px
      list-style: none
    +breakpoint(large)
      +absolute-pos(67px, 0, auto, auto)
      z-index: 50
      margin: 0
      padding: 0

    & > li 
      position: relative
      +breakpoint(large)
        +horizontal-list-item
        padding-left: 18px
        padding-right: 18px

      & > a
        text-transform: uppercase
        color: $color-black
        +breakpoint(small)
          display: block
          padding: 15px 0
          border-top: 1px solid $color-white
          border-bottom: 1px solid $global-color-border         
        +breakpoint(large)
          border: 0
       
      +breakpoint(large)
        &:hover
          ul // Sub Menu Details for Desktop View
            display: block
            +absolute-pos(46px, auto, auto, auto)
            //+single-box-shadow()
            border: 1px solid #e6e6e6
            background-color: $color-white
            padding: 10px 15px
            min-width: 175px

            &:before
              content: ''
              background: image-url("menu-dropdown-arrow.png") no-repeat
              width: 26px
              height: 10px
              //+triangle(up, $color-white, 10px)
              +absolute-pos(-10px,auto,auto,10px)

            li 
              float: none!important
              display: block!important
              padding: 0
              border-bottom: 1px solid $global-color-border

              &:last-child
                border-bottom: 0

              a
                padding: 10px 0
                text-transform: none
                color: $color-black
              
              ul
                display: none

              &:hover
                ul
                  +absolute-pos(0, -170px, auto, auto)
                  display: block
                  &:before
                    background: none            

      &:first-child
        a
          border-top: 0
    
    +breakpoint(large)
      .current-menu-item,
      .current-menu-ancestor
        a
          border-bottom: 3px solid $color-black

    ul
      +breakpoint(small)
        display: none

.has-second-level-dropdown-menu
  position: relative
  +breakpoint(small)
    &:after
      display: none
  +breakpoint(large)
    &:after
      display: block
      position: absolute
      right: 0
      top: 12px
      font-family: "wink"
      content: "\e603"
      color: $color-grey
      font-size: 16px 

/* Mobile Menu */
.mobile-menu-button
  +breakpoint(small)
    +absolute-pos(25%, auto, auto, 18px) 
    color: $color-black
    +font-size(15)
    
  +breakpoint(large)
    display: none

.has-dropdown-menu
  +breakpoint(small)
    &:after
      +absolute-pos(14px, 0, auto, auto)
      content: ''
      display: block
      width: 23px
      height: 23px
      background: image-url("mobile-master-sprite.png") no-repeat -65px -73px
    
    ul
      li  
        a
          +breakpoint(small)
            border-top: 0!important
            border-bottom: 1px dashed $global-color-border !important 
            color: $color-grey!important
            text-transform: none!important
          +breakpoint(large)
            color: $color-black!important

        &:last-child
          a
            border-bottom: 0!important   

  +breakpoint(large)
    &:after
      display: none

    &:hover
      a
        border-bottom: 0!important
        &:hover
          color: $color-grey !important

      ul
        display: block
  
.active
  +breakpoint(small)
    &:after
      background-position: -43px -73px