// Responsive Breakpoints
=breakpoint($point) 
  @if $point == large 
    @media (min-width: 50em) // 800px
      @content
  
  @else if $point == medium 
    @media (min-width: 37.5em) // 600px
      @content
  
  @else if $point == small // 0
    @media (min-width: 0) 
      @content

// Retina
=image-2x($image, $width, $height)
  @media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx)
    // on retina, use image that's scaled by 2
    background-image: url($image)
    background-size: $width $height

=image-retina($width, $height, $xpos, $ypos)
  @media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2 / 1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)
    background: image-url("mobile-master-sprite@2x.png") no-repeat
    background-position: $xpos, $ypos

// CSS triangles - Usage: @include triangle(up, #000, 50px)
=triangle($direction: up, $color: black, $size: 100px)
  @if $direction == up
    border-color: transparent transparent $color
    border-style: solid
    border-width: 0 $size $size
    height: 0
    width: 0

  @if $direction == down
    border-color: $color transparent transparent transparent
    border-style: solid
    border-width: $size
    height: 0
    width: 0
  
  @if $direction == left
    border-color: transparent $color transparent transparent
    border-style: solid
    border-width: $size $size $size 0
    height: 0
    width: 0
  @if $direction == right
    border-color: transparent transparent transparent $color
    border-style: solid
    border-width: $size 0 $size $size
    height: 0
    width: 0

// Typography
=font-size($sizeValue: 12 )
  font-size: $sizeValue + px //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem

=line-height($heightValue: 12 )
  line-height: $heightValue + px //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem

=text-truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// Center images, divs, etc
=center-block
  display: block
  margin-left: auto
  margin-right: auto

// Absolute positioning
=absolute-pos($top: auto, $right: auto, $bottom: auto, $left: auto)
  position: absolute
  top: $top
  right: $right
  bottom: $bottom
  left: $left

// Cross browser inline-block
=inline-block
  display: -moz-inline-stack
  display: inline-block
  vertical-align: top
  zoom: 1
  *display: inline

// Placeholder color
=placeholder-color($color)
  &.placeholder
    color: $color
 
  &:-moz-placeholder
    color: $color
    
  &:-webkit-input-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color