.models
	.add-model
		border-right: none
	.item-buttons
		.btn
			width: 50%
.inside
	.btn
		width: 50%

.model-layout
	+horizontal-list-container
	> li
		position: relative
		list-style: none
		float: left
		+breakpoint(small)
			width: 50%
			height: auto
		+breakpoint(medium)
			width: 33%
		+breakpoint(large)
			width: 195px
			height: 190px
			img
				height: 190px
		img
			border: 1px solid $global-color-border
			width: 100%


.model-details
	font-family: $museo-500
	margin: 0
	list-style: none
	background: #FFF
	border: 1px solid $global-color-border
	min-height: 190px
	+breakpoint(small)
		padding: 10px
	+breakpoint(large)
		padding: 20px
	
	li 
		margin-bottom: 10px

	.label
		font-weight: bold
		display: block
		float: left
	.value
		color: $color-grey
		text-align: right
		margin: 0
	
	.label,
	.value
	+breakpoint(small)
		font-size: 15px
	+breakpoint(large)
		font-size: 12px

.has-content,
.has-title
	background: #FFF
	min-height: 190px
	padding: 20px
	font-family: $museo-500

.has-title
	text-transform: uppercase
	position: relative
	.cs-title
		position: absolute
		bottom: 0

// Share Section
.share
	position: relative
	display: none
	background: #FFF
	padding: 0 15px 10px
	margin-bottom: 20px
	border: 1px solid $global-color-border	

	&:before
		position: absolute
		z-index: 10
		top: -12px
		right: 120px
		content: ""
		width: 0px
		height: 0px
		border-style: solid 
		border-width: 0 14px 12px 14px
		border-color: transparent transparent #FFF transparent

	&:after
		position: absolute
		z-index: 5
		top: -13px
		right: 119px
		content: ""
		width: 0px
		height: 0px
		border-style: solid 
		border-width: 0 15px 13px 15px
		border-color: transparent transparent #dfdfdf transparent

	h3
		text-transform: uppercase
		font-size: 18px
		margin-top: 10px 0

	input,
	textarea
		margin-bottom: 10px		
		+breakpoint(small)
			font-size: 16px
		+breakpoint(large)
			font-size: 14px

	textarea
		min-height: 166px

.share-btn.active
	background-color: $global-color-link
	color: #FFF

// Gallery Section
#lightbox_gallery
	display: none
	position: absolute
	top: 0