.my-light-box
	.head
		+pie-clearfix
	.post-title
		+breakpoint(small)
			float: none
		+breakpoint(large)
			float: left
			width: 50%
	.item-buttons.top
		width: 100%
		+breakpoint(small)
			float: none
			margin-bottom: 20px
			.comp-btn
				display: none
		+breakpoint(large)
			width: auto
			float: right
			.comp-btn
				display: block

		.share-btn
			+breakpoint(small)
				width: 100%
				+border-radius(5px)
				border-right: 1px solid $global-color-border
				font-size: 18px
			+breakpoint(large)
				border-right: none
				+border-top-left-radius(5px)
				+border-bottom-left-radius(5px)
				+border-top-right-radius(0)
				+border-bottom-right-radius(0)
				width: 72px
				font-size: 12px

	.item-buttons
		+breakpoint(small)
			.remove-model
				border-right: none
			.icon-cancel-circle			
				visibility: hidden
		+breakpoint(large)
			.icon	
				visibility: visible