.news
	.posts
		margin-top: 25px
	.page-title
		+breakpoint(small)
			float: none
		+breakpoint(large)
			float: left
	.social-media-icons
		background: none
		border: none
		margin: 0
		width: 206px
		position: relative
		left: 10px

		.heading
			float: left
			margin: 5px 0 0 0
			color: $color-grey
			font-family: $museo-500
			font-size: 14px
		li
			height: auto
			border: 0
			padding: 0
			float: left
			display: inline
			margin-left: 5px

		+breakpoint(small)
			float: none
		+breakpoint(large)
			float: right

	.block
		position: relative
		float: left
		+breakpoint(small)
			width: 50%
		+breakpoint(medium)
			width: 33.33%
		+breakpoint(large)
			width: 20%
			height: 195px
			

		.icon
			display: block
			position: absolute
			top: 8px
			right: 8px

		.icon-twitter
			background: image-url("twitter@2x.png") no-repeat
			background-size: 22px 21px
			width: 22px
			height: 21px

		.icon-instagram
			background: image-url("instagram-light@2x.png") no-repeat
			background-size: 21px 21px
			width: 21px
			height: 21px

	.instagram-block,
	.twitter-block
		background: white
		border: 1px solid $global-color-border

	.twitter-block
		padding: 20px 35px 20px 15px
		font-style: italic
		color: $color-black
		font-family: $museo-500
		line-height: 16px
