.woo-sc-box.normal
	background: #FFF!important
	border-color: $global-color-border !important
	padding: 20px !important
	line-height: 18px

p.woo-sc-box, 
div.woo-sc-box
	border-width: 1px!important

// Flexslider
#lightbox_gallery
	position: relative

#carousel
	+breakpoint(small)
		display: none
	+breakpoint(large)
		display: block
	.slides 
		margin: 20px
		> li
			margin-right: 20px
			img
				cursor: pointer
				border: 1px solid $global-color-border

.flexslider 
	margin: 0!important
	background: none!important
	border: none!important
	+border-radius(0)
	+box-shadow(0)

.slides
	img
		width: auto!important
		margin: 0 auto
		text-align: center