@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
	#logo
		a
			display: block
			+replace-text("mobile-master-sprite@2x.png", -3px, -2px)
			//background: image-url("master-sprite@2x.png") no-repeat -1px -2px;
			width: 194px
			height: 55px

	.mobile-menu-button
		width: 40px
		height: 33px
		background: image-url("mobile-master-sprite@2x.png") no-repeat -210px -2px
		//+replace-text("mobile-master-sprite@2x.png", -210px, -2px)

	.icon
		background: image-url("mobile-master-sprite@2x.png") no-repeat

	.icon-phone
		background-position: -298px -9px
		width: 32px
		height: 28px

	.icon-facebook
		background-position: -1px -64px
		width: 28px
		height: 61px

	.icon-twitter
		background-position: -46px -69px
		width: 64px
		height: 52px

	.icon-instagram
		background-position: -122px -64px
		width: 61px
		height: 61px

	.icon-linkedin
		background-position: -192px -64px
		width: 55px
		height: 61px