.shortcode-toggle 
	margin: 0 0 1em!important

	h4
		background: #FFF
		font-size: 18px
		position: relative

		a
			color: $color-grey
			background: none!important
			padding: 15px 20px!important
			&:after
				font-weight: bold
				font-size: 22px
				position: absolute
				right: 20px
				font-family: "wink"
				content: "\e604"
			
	.toggle-content
		background: #FFF!important
		color: $color-grey
		line-height: 18px
		padding: 10px 20px!important

.closed
	h4
		a
			&:after
				font-weight: bold
				font-size: 22px
				position: absolute
				right: 20px
				font-family: "wink"
				content: "\e605"

.shortcode-highlight
	color: $color-grey
	background: none!important
	font-style: italic
	font-size: 16px
	font-weight: 300
	line-height: 22px
	font-family: $museo-500