.btn-light
	border: 1px solid $global-color-border
	background: #FFF
	padding: 6px 10px
	+border-radius(3px)
	color: $color-grey
	font-family: $museo-500

	.icon
		padding-right: 5px
		position: relative
		top: 2px

.why-wink
	.section-header
		background: image-url("double-border.png") repeat-x center center
		line-height: 30px
		margin: 30px 0

		.section-header-title
			background: image-url("body-bg.png") repeat
			width: 180px
			margin: 0 auto
			text-align: center
			text-transform: uppercase
			font-size: 18px
	
	.our-services
		color: $color-grey
		line-height: 18px

	.our-clients
		.client-logo-wrapper
			background: #fff
			width: 120px
			height: 120px
			line-height: 120px
			margin: 0 19px 15px 0
			border: 1px solid $global-color-border
			+border-radius(100px)
			overflow:  hidden
			float: left
			text-align: center

			img
				height: auto
				vertical-align: middle

	.testimonials
		.testimonial-wrapper
			+pie-clearfix
			+breakpoint(small)
				float: none
				width: 100%
				margin-right: 0
				margin-bottom: 30px
			+breakpoint(medium)
				width: 50%
			+breakpoint(large)
				float: left
				width: 30%
				margin-right: 3.33%
			
			.icon
				float: left
				color: $color-grey
			.block
				margin-top: -13px
				width: 93%
				float: right

	.btn-light
		text-align: center
		margin: 0 auto
		display: block
		width: 284px
		font-size: 14px

	// Recent Work
	.grid-layout
		li 
			h3
				text-transform: uppercase
				a
					color: $color-black